<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Anasayfa</title>
    
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <main class="hero-wrapper">
        
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>

        <div class="hero-content">
            <h1 class="hero-title">
                Finansal Takip Sistemine Hoş Geldiniz!
            </h1>
        </div>
        
    </main>

    </body>
</html>