<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today Expenses</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/today.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="h1-wrapper">
        <h1>Today Expenses</h1>
    </div>
    <div class="today-content">
        <table>
            <thead>
                <tr>
                    <th>Expense Name</th> &nbsp;
                    <th>Expense Amount</th> &nbsp;
                    <th>Expense Date</th> &nbsp;
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% if (condition) { %>
                     
                    <% } %>
                    <td>Expense 1</td> &nbsp;
                    <td>Expense 1</td> &nbsp;
                    <td>Expense 1</td> &nbsp;
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>