<nav>
    <a href="/" class="logo"><img src="/images/logo.png" alt="" width="80px" height="auto"></a>

    <ul>
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/today">Bugün</a></li>
        <li><a href="/thismonth">Bu Ay</a></li>
        <li><a href="/thisyear">Bu Yıl</a></li>
    </ul>
</nav>