<nav>
    <a href="/" class="logo"><img src="../../public/images/Logo.png" alt="" width="50px" height="auto"></a>

    <ul>
        <li><a href="/">Anasayfa</a></li>
        <li><a href="/about">Hakkımda</a></li>
        <li><a href="/contact">İletişim</a></li>
    </ul>
</nav>