<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('../partials/navbar') %> 
    <div class="loginContainer">
        <div class="loginText">
            <h1>Giriş Yap</h1>
            <p>Hesabınız Yok Mu? <a href="/signup">Kayıt Ol</a></p>
        </div>
        <div class="loginForm">
            <% if (successMessage && successMessage.length > 0) { %>
                <div style="background-color: #d4edda; color: #155724; padding: 10px; margin-bottom: 15px; border-radius: 5px; text-align: center;">
                    <%= successMessage %>
                </div>
            <% } %>

            <% if (errorMessage && errorMessage.length > 0) { %>
                <div style="background-color: #f8d7da; color: #721c24; padding: 10px; margin-bottom: 15px; border-radius: 5px; text-align: center;">
                    <%= errorMessage %>
                </div>
            <% } %>
            <form action="/login" method="post" class="loginForm">
                <input type="email" placeholder="Email" name="userEmail" class="emailInput">

                <input type="password" placeholder="Password" name="userPassword" class="passwordInput">

                <button type="submit" class="loginButtonInput">Giriş Yap</button>
            </form>
        </div>
    </div>
</body>
</html>