<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signUp.css">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('../partials/navbar') %> 
    <div class="signUpContainer">
        <div class="signUpText">
            <h1>Kayıt Ol</h1>
            <p>Zaten bir hesabınız var mı? <a href="/login">Giriş Yap</a></p>
        </div>
        <div class="signUpForm">
            <form action="/signUp" method="post" class="signUpForm">
                <input type="text" placeholder="Name" name="name" class="nameInput">

                <input type="text" placeholder="Surname" name="surname" class="surnameInput">

                <input type="email" placeholder="Email" name="email" class="emailInput">

                <input type="password" placeholder="Password" name="password" class="passwordInput">

                <button type="submit" class="signUpButtonInput">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>