nav {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    background: rgba(13, 17, 23, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .logo img {
    height: 80px;
    width: auto;
    display: block;
    object-fit: contain;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    font-size: larger;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    
}

@media (max-width: 768px) {
    nav {
        height: 60px;
        padding: 0 20px;
        flex-direction: row;
    }

    nav ul {
        gap: 15px;
        font-size: 0.8rem;
    }
}